.main-body
{
    margin: 5vh 5vw 5vh 5vw;
    text-align: center;
}
#nav-bar li 
{
    display: inline-block;
    list-style-type: none;

}
#nav-bar li a 
{
    text-decoration: none;
    color: black;
}